@model IEnumerable<TrabalhoFinalMVCCRUD.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Funcionários</h1>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Cadastrar
                    Funcionário</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeLogin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localizacao)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.IdFuncionario"><i class="fa fa-marker fa-lg"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdFuncionario" class="text-danger ml-1"
                        onclick="return confirm ('Você tem certeza que deseja excluir o registro?')"><i
                            class="fa fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
